/* readings start */
div.readings {
  width: 78%;
  height: 350px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 48px;
}
div.readings > div:nth-of-type(1) {
  width: 100%;
  height: fit-content;
  padding: 16px 20px;
  display: inline-block;
  border: unset;
  margin-left: 0;
}
div.readings > div:nth-of-type(1) > p {
  float: right;
  font-family: yekan;
  font-size: 18px;
  font-weight: bold;
  color: rgb(8, 10, 56);
}
div.readings > div:nth-of-type(1) > a {
  float: left;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}
div.readings > div:nth-of-type(1) > a > p {
  font-size: 12px;
  font-family: yekan;
  color: rgb(25, 191, 211);
  line-height: 25px;
  margin: 0;
}
div.readings > div:nth-of-type(1) > a > p > i {
  float: left;
  padding-right: 6px;
  line-height: 25px;
}
div.readings > div {
  width: calc(25% - 9px);
  height: 280px;
  border-radius: 8px;
  border: 1px solid rgb(239, 236, 236);
  float: right;
  margin-left: 12px;
}
div.readings > div:nth-of-type(5) {
  margin-left: 0;
}
div.readings > div > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
div.readings > div > a > img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
div.readings > div > a > p {
  margin: 12px 16px;
  font-family: yekan;
  font-size: 12px;
  color: rgb(8, 10, 56);
  line-height: 24px;
}
/* readings end */
