* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: yekan;
  src: url("../../fonts/IRANYekanWeb-Medium.eot");
  src: url("../../fonts/IRANYekanWeb-Medium.ttf");
  src: url("../../fonts/IRANYekanWeb-Medium.woff");
  src: url("../../fonts/IRANYekanWeb-Medium.woff2");
}
html {
  scroll-behavior: smooth;
}
