/* story start */
div.story {
  width: 74%;
  height: 143px;
  margin: 0 auto;
  margin-bottom: 7px;
}
div.story > div {
  width: 12.5%;
  height: 100%;
  display: inline-block;
  margin-left: -4px;
  text-align: center;
  vertical-align: top;
}
div.story > div > img {
  width: 70px;
  border-radius: 50%;
  outline: 2px solid #e6123d;
  outline-offset: 3px;
  margin-top: 22px;
  cursor: pointer;
}
div.story > div > p {
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
  font-family: yekan;
  color: #3f4064;
  margin: 0 auto;
  padding: 6px 0;
  cursor: pointer;
}
/* story end */
